.page-comments {
	.comment-list {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.vcard {
		border: none;
		padding:0;
		margin-bottom: 0.5rem;
	}
	.says {
		display: none;
	}
	.comment-metadata {
		display: inline-block;
		float: right;
		font-size: 80%;
		a {
			color: $medium-grey;
		}
	}
}
