.site-header {
	.site-title {
		font-size: 1rem;
		font-family: $header-font-family;
		color: $orange;
		@media #{$medium-up} {
			font-size: 1.5rem;
		}
		&:hover {
			color: $orange;
		}
	}
	.site-description {
		margin-top: 0.25rem;
		margin-bottom: 0.25rem;
		color: $dark-grey;
		font-size: .75rem;
		@media #{$medium-up} {
			font-size: 0.9rem;
		}
		a, a:hover {
			color: inherit;
		}
	}
	border-bottom: 1px solid $light-grey;
	padding-top: .5rem;
	padding-bottom: .5rem;
	@media #{$medium-up} {
		padding-top: .75rem;
		padding-bottom: .75rem;
	}

	.social {
		margin-left: 0.5rem;
		a {
			color: $medium-grey;
			&:hover {
				color: inherit;
			}
		}
	}
}
