body.home,
body.archive,
body.search {
	article.post,
	article.tip {
		margin-bottom: 1.25rem;
		margin-top: 1.25rem;
		padding-top: .75rem;
		padding-bottom: .75rem;
		@media #{$medium-up} {
			margin-top: 1.75rem;
			margin-bottom: 1.75rem;
		}
		&.format-standard {
			position: relative;
			padding-top: 1rem;
			padding-bottom: 1.25rem;
			@media #{$medium-up} {
				padding-top: 1.5rem;
				padding-bottom: 1.75rem;
			}
			&:before {
				content: " ";
				display: block;
				background-color: white;
				width: 10000000px;
				height: 100%;
				position: absolute;
				z-index: -1;
				margin-left: -5000000px;
				border-top: rem-calc(5) solid $light-grey;
				top: 0;
				border-bottom: rem-calc(1) solid $light-grey;
			}
		}
	}
	article.tip {
		position: relative;
		color: $light-grey;
		a {
			color: $light-grey;
			&:hover {
				text-decoration: underline;
			}
		}
		&:before {
			content: " ";
			display: block;
			background-color: $dark-blue;
			width: 10000000px;
			height: 100%;
			position: absolute;
			z-index: -1;
			margin-left: -5000000px;
			top: 0;
		}
	}
}
