.site-content {
	padding-top: 1rem;
	padding-bottom: 3rem;
}

.page-header,
.entry-header {
	padding-bottom: 1rem;
}

.page-content,
.entry-content {
	a {
		text-decoration: underline;
	}
}

.format-aside,
.format-status,
.format-quote {
	padding-top: .75rem;
	padding-bottom: .75rem;
	padding-left: .8rem;
	padding-right: .8rem;
	border: rem-calc(1) solid $light-grey;
	border-radius: rem-calc(2);
}

.format-aside,
.format-status {
	background-color: $white;
}

.format-quote {
	background-color: $dark-blue;
	.entry-content > *,
	.entry-content blockquote > * {
		color: $white;
		a {
			color: inherit;
		}
	}
	.entry-meta {
		color: $light-grey;
		a {
			color: inherit;
		}
	}
}

.entry-meta {
	color: $dark-grey;
	font-size: .7rem;
	a {
		color: inherit;
		&:hover {
			text-decoration: underline;
		}
	}
	.post-edit-link {
		color: $medium-light-grey;
	}
}

.entry-content {
	.aligncenter {
		margin: 0 auto;
		display: block;
	}
	.alignright {
		float: right;
		margin: 0 0 .75rem .75rem;
	}
	.alignleft {
		float: left;
		margin: 0 .75rem .75rem 0;
	}
}

.home .page-header {
	padding-top: 1.5rem;
	padding-bottom: 1.25rem;
	@media #{$medium-up} {
		padding-top: 2.5rem;
		padding-bottom: 2rem;
	}
}
